.row
  =form_for @meeting do |f|
    .row
      .input-field.col.s6
        %h5 Tipo de reunión
        .row
          =f.radio_button :meeting_type, Meeting::ORDINARY, checked:'checked'
          =f.label :meeting_type, 'Ordinaria', value:Meeting::ORDINARY
        .row
          =f.radio_button :meeting_type, Meeting::EXTRAORDINARY
          =f.label :meeting_type, 'Extraordinaria', value:Meeting::EXTRAORDINARY
      .input-field.col.s3

        %h5 Fecha
        =f.text_field :date, class: "datepicker",placeholder:'Selecciona la fecha de la reunión', type:'date'

      .input-field.col.s3
        %h5 Hora
        =text_field_tag 'time','',class: "timepicker",placeholder:'Selecciona la hora de la reunión',:type => "time"
    =f.submit 'ok', class:'btn'

