%h3 Nuevo acuerdo

=form_for @agreement_new, class:'alertas' do |f|
  .row.input-field
    %label.active{:for => "agreement_agreement_type"} Tipo de acuerdo
    =f.collection_select :agreement_type, Agreement::TYPES,:first, :last, prompt:true
  .row.input-field
    %label.active{:for => "agreement_description"} Descripción
    =f.text_field :description
    %input{type: "text", name: "meeting_id" , value: meeting.id, hidden:true}

  .row
    =render partial: 'synod_designations/new_synod_designation'
  .row
    =f.submit 'Crear', class:'btn'