.row
  =form_for @meeting do |f|
    .row
      .input-field.col.l3
        %h5 Tipo de reuni贸n
        .row
          =f.radio_button :meeting_type, Meeting::ORDINARY, checked:'checked'
          =f.label :meeting_type, 'Ordinaria', value:Meeting::ORDINARY
        .row
          =f.radio_button :meeting_type, Meeting::EXTRAORDINARY
          =f.label :meeting_type, 'Extraordinaria', value:Meeting::EXTRAORDINARY
      .input-field.col.l3

        %h5 Fecha
        =text_field_tag :date , @date, class: "datepicker",placeholder:'Selecciona la fecha de la reuni贸n'

      .input-field.col.l3
        %h5 Hora
        =text_field_tag :time,@time, class: "timepicker",placeholder:'Selecciona la hora de la reuni贸n',:type => "time"
      .input-field.col.l3
        =f.submit 'Actualizar reuni贸n', class:'btn'
