%br
%br
%br
%br
%br
%br
%br
%br
=@meeting.id
%br
.row
  .col.l2
    %h5.center Acuerdos
    %ul.tabs#coco
      -@meeting.agreement.each do |agreement|

        %li.tab.active
          %a{href:"#test#{agreement.id}"}
            =agreement.description
            -if agreement.status == Meeting::OPENED
              %i.fa.fa-unlock.circle.blue{"aria-hidden" => "true"}
            -else
              %i.fa.fa-lock.circle{"aria-hidden" => "true"}

  .col.m8
    %h5.center Info del acuerdo
    -@meeting.agreement.each do |agreement|
      .col.tab-content{id:"test#{agreement.id}"}
        -if agreement.agreement_type.equal? Agreement::ASIG_SINODAL
          =render partial: 'synod_designation', locals:{agreement: agreement}
        -elsif agreement.agreement_type.equal? Agreement::NUEVO_INGRESO
          =render partial: 'new_admission', locals:{agreement: agreement}
.fixed-action-btn

  %a.btn-floating.btn-large.red.tooltipped{href:'#modal_acuerdo',"data-position" => "left", "data-tooltip" => "Nuevo acuerdo", "data-delay" => "50"}
    %i.fa.fa-plus{"aria-hidden" => "true"}
/ Modal Structure
#modal_acuerdo.modal.modal-fixed-footer
  .modal-content
    =render partial: 'new_agreement', locals:{meeting:@meeting}

