%br
%br
%br
%h1
  Sesión numero
  =@meeting.id
%br
.row


  .col.l2
    %h5.center Acuerdos
    .collection
      -@meeting.agreement.each do |agreement|


        =link_to agreement.description, "/meetings/#{@meeting.id}/agreements/#{agreement.id}",remote:true, class:'collection-item agreement-item'


  .col.l10

    %h5.center Info del acuerdo
    #preloader-agreement.center
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle
    #agreement-body



.fixed-action-btn
  %a.btn-floating.btn-large.red.tooltipped{href:'#agreement_types', "data-position"=>'left', "data-delay"=>"50", "data-tooltip"=>"Nuevo acuerdo"}
    %i.fa.fa-plus{"aria-hidden" => "true"}

/opciones
#agreement_types.modal
  .modal-content

    .collection
      =link_to 'Designación de sinodales', "/meetings/#{@meeting.id}/synod_designations/new", remote:true, class:'collection-item modal-close agreement-new'
      =link_to 'Nuevo ingreso', "/meetings/#{@meeting.id}/new_admissions/new", remote:true, class:'collection-item modal-close agreement-new'

/Nuevo acuerdo
#agreement_new.modal
  #preloader-new-agreement.preloader-wrapper.big.active
    .spinner-layer.spinner-blue-only
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
  .modal-content

