%br
%br
%br
%h1
  Sesión numero
  =@meeting.id
%br
.row
  .col.l2
    %h5.center Acuerdos
    .collection
      -@meeting.agreement.each do |agreement|


        =link_to agreement.description, "/meetings/#{@meeting.id}/agreements/#{agreement.id}",remote:true, class:'collection-item agreement-item'


  .col.l10
    %h5.center Info del acuerdo
    #agreement-body

.fixed-action-btn
  %a.btn-floating.btn-large.red.tooltipped{href:'#agreement_types', "data-position"=>'left', "data-delay"=>"50", "data-tooltip"=>"Nuevo acuerdo"}
    %i.fa.fa-plus{"aria-hidden" => "true"}

/opciones
#agreement_types.modal
  .modal-content

    .collection
      %a.collection-item.modal-close{:href => "#modal_synodal_designation"} Designación de sinodales
      %a.collection-item.active.modal-close{:href => "#modal_new_admission"} Nuevo ingreso
