= form_for agreeable,html:{remote:true, class:'form_agreement alertas'} do |f|
  .row.input-field

    %label.active{:for => "description"} Descripción
    =text_field_tag :description

  .row.input-field
    %label.active{:for => "applicant_id"} Aspirante
    =f.collection_select :applicant_id, Applicant.all, :id, :full_name, prompt: true

  .row
    =f.submit 'listo',class:'btn'

:javascript
  $("select").select2();