= form_for agreeable,html:{remote:true, class:'form_agreement alertas'} do |f|
  .row.input-field

    %label.active{:for => "description"} Descripción
    =text_field_tag :description, agreeable.agreement.description
  .row.input-field
    %label.active{:for => "student_id"} Estudiante
    =f.collection_select :student_id, Student.all, :id, :full_name,prompt: true

  .row
    =f.submit 'listo',class:'btn'