.section.valign-wrapper
  .row.full-width
    .col.l12.m12
      %h5
        =agreeable.applicant.full_name

    .col.l6.m6
      %p.grey-text.text-darken-3
        %b
          Institución previa:
        =agreeable.applicant.institution.full_name
        %br
        %b
          Grado académico:
        =agreeable.applicant.previous_degree_type
        %br
        %b
          Promedio:
        =agreeable.applicant.average
        %br

    .col.l6.m6
      %p.larger-text.grey-text.text-darken-3
        %b
          Programa al que aplica:
      .larger-text.pink-text
        ="#{agreeable.applicant.program.name} (#{agreeable.applicant.campus.name})"
