%h1 Nuevo ingreso
= form_for @new_admission,  html:{remote:true, class:'alertas redirect'}, url:"/meetings/#{@meeting_id}/new_admissions"  do |f|
  .row.input-field

    %label.active{:for => "notes"} Descripción
    =text_field_tag :notes

  .row.input-field
    %label.active{:for => "applicant_id"} Aspirante
    =f.collection_select :applicant_id, @applicants, :id, :full_name, prompt: true

  .row
    =f.submit 'listo',class:'btn'

:javascript
  $("select").select2();