-if file
  -if file.file_type.eql? InternshipFile::COURSE
    %span.grey-text.text-darken-2
      %i.material-icons.left
        check_circle
      Curso aprobado
  -else
    =link_to "#{ENV['SAPOS_URL']}/internados/aspirantes/file/#{file.id}?disposition=inline" ,target: :_blank, class:'grey-text text-darken-2' do
      %i.material-icons.left
        -case File.extname(file.description)
          -when '.jpg','.JPG','.jpeg','.JPEG','.png','.PNG', '.gif', '.GIF'
            image
          -when '.pdf', '.docx'
            insert_drive_file
      .truncate
        =file.description
-else
  %span.red-text
    Pendiente