.section.valign-wrapper
  .row.full-width
    .col.l12.m12
      %h5
        Asunto:
      %p
        =agreeable.subject.gsub(/\n/, '<br/>').html_safe
      %h5
        Dirigido a:
      -if agreeable.addressed_to == GeneralIssue::TO_WHOM_CONCERN
        %p A quien corresponda
      -if agreeable.addressed_to == GeneralIssue::TEACHER
        %p
          .chip{class:'green lighten-4'}
            Docente
          -if agreeable.teacher
            =Staff.find(agreeable.teacher).full_name
          -else
            Sin selecci贸n de docente
      -if agreeable.addressed_to == GeneralIssue::STUDENT
        %p
          .chip{class:'green lighten-4'}
            Estudiante
          -if agreeable.student
            =agreeable.student.full_name
          -else
            Sin selecci贸n de estudiante
      %h5
        Resoluci贸n:
      %p
        -if agreeable.resolution
          =agreeable.resolution.gsub(/\n/, '<br/>').html_safe
        -else
          Sin resoluci贸n