=form_for @user, html:{remote:true, class:'alertas redirect'} do |f|

  .row.input-field
    =f.text_field :name, class:'validate'
    =f.label :name, 'Nombre Completo'
  .row.input-field
    =f.text_field :email, type:'email', class:'validate'
    =f.label :email, 'email', "data-error"=>"Introduce un email válido", "data-success"=>"Correcto"
  .row.input-field
    =f.select :user_type, [['Administrador', User::ADMIN],['Miembro del CEP', User::CEP],['Espectador', User::VIEWER]]
    =f.label :user_type, 'Tipo de usuario'
  -if screen=='edit'
    .row.input-field
      =f.select :status, User::STATUS.invert
      =f.label :status, 'Tipo de usuario'
  .row
    =f.submit 'Guardar', class:'btn'

:javascript
  Materialize.updateTextFields();
  $('select').material_select();
