.container
%br
%br
%br
%br
%br
%br
  %a#menu.waves-effect.waves-light.btn.btn-floating
    %i.fa.fa-lock.circle{"aria-hidden" => "true"}
    / Tap Target Structure
  .tap-target{"data-activates" => "menu"}
    .tap-target-content
      %h5 Title
      %p A bunch of text

