.container
  %h1.header.center.blue-text
    Home
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal

  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal

  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal
  .row.center
    %h5.header.col.s12.light
      Qué tal

