%ul.collapsible.collapsible-accordion
  %li
    .collapsible-header
      %span
        Sesiones
      %span.right
        %i.fa.fa-bank.white-text{"aria-hidden" => "true"}
    .collapsible-body
      %ul.menu-list
        -@meetings.each do |meeting|
          %li
            %a.menu-item{href:"/meetings/#{meeting.id}","data-remote"=>"true",url:"meetings/#{meeting.id}"}
              =meeting.id_key



        -if is_admin?
          %li
            %a.menu-item{href:"/meetings/new", url:"meetings/new", "data-remote"=>"true"}
              Nueva sesión
              %i.fa.fa-plus.white-text{"aria-hidden" => "true"}

%ul.collapsible.collapsible-accordion
  %li
    .collapsible-header
      %span
        Reportes
      %span.right
        %i.fa.fa-bank.white-text{"aria-hidden" => "true"}
    .collapsible-body
      %ul.menu-list
        %li
          %a.menu-item{href:"/reports/teacher_evaluation","data-remote"=>"true",url:"reports/teacher_evaluation"}
            Evaluación docente

-if is_admin?
  %ul.collapsible
    %li
      .collapsible-header
        %span
          Admin
        %span.right
          %i.fa.fa-cog.white-text{"aria-hidden" => "true"}
      .collapsible-body
        %ul.menu-list
          %li
            %a.menu-item{href: "/users", "data-remote"=>"true", url:"users"}
              Usuarios

:javascript
  $('.collapsible').collapsible();
  $(".meeting-item").on( "click", function() {
    url = $(this).attr("url");
   // $.get(url, function (data, status) {
   //     $('#main-content').html(data);
   // });
    setHash(url)
  });
  $('.tooltipped').tooltip({delay: 50});