%ul.collapsible.collapsible-accordion
  %li
    .collapsible-header
      %a
        %span
          Sesiones
        %span.right
          %i.fa.fa-bank.white-text{"aria-hidden" => "true"}
    .collapsible-body
      %ul.collapsible
        -Meeting.all.each do |meeting|
          %li
            .collapsible-header.meeting-item{url:"meetings/#{meeting.id}"}
              =meeting.id_key



            .collapsible-body
              %ul.agreement-list
                -meeting.agreement.each do |agreement|
                  %li
                    =link_to agreement.get_type, agreement, remote:true, class:'menu-item', url:agreement_url(agreement).gsub(request.base_url+'/', '')
        -if is_admin?
          %li
            %a.menu-item{href:"/meetings/new", url:"meetings/new", "data-remote"=>"true"}
              Nueva sesión
              %i.fa.fa-plus.white-text{"aria-hidden" => "true"}

-if is_admin?
  %ul.collapsible
    %li
      .collapsible-header
        %a
          %span
            Admin
          %span.right
            %i.fa.fa-cog.white-text{"aria-hidden" => "true"}
      .collapsible-body
        %ul
          %li
            %a.ajax-item{href: "/users", "data-remote"=>"true", url:"users"}
              Usuarios

:javascript
  $('.collapsible').collapsible();
  $(".meeting-item").on( "click", function() {
    url = $(this).attr("url");
   // $.get(url, function (data, status) {
   //     $('#main-content').html(data);
   // });
    setHash(url)
  });
  $('.tooltipped').tooltip({delay: 50});