#login-area.card-panel
  /logo cep
  .row
    .col.l12.m12
      =image_tag "cimav-logo-texto.png", id: 'cimav-logo',class:'responsive-img small'
    .col.l12.m12.center
      = image_tag "app-logo.png", id: 'app-logo', class:'responsive-img'
    .col.l12.m12.center
      %h5#login-title Comite de Estudios de Posgrado
    .col.l12.m12.center
      %a.red.lighten-1.waves-effect.waves-light.btn{:href => "/auth/google_oauth2"} Ingresar