#login-area.animated.flipInX
  .login-title= "CEP"
  .login-message= "Comité de Estudios de Posgrado"
  .login-methods
    #login-google-apps.login-method
      %button.btn-large.brown.waves-effect{'onclick' => "window.location = '/auth/google_oauth2';"}
        = "Accede con tu cuenta @cimav.edu.mx"
.clearfix