%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CEP
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  %body
    .container
      #unauthorized
        %p.flow-text.center-align.red-text.text-darken-4
          Usuario no autorizado
        .row
          .col.s12.m12.l12.center
            =image_tag 'einstein.png', class:'responsive-img'
        %p.center-align.flow-text
          Para dudas o aclaraciones comunicarse a posgrado ext. 1158