
.row
  .col.l9
    .card
      .card-content
        .card-title
          Descripción
        =@agreement.description
    .row
      .card
        .card-content
          .card-title
            Votación
          %table
            %thead
              %tr
                %th
                %th Miembro del CEP
                %th Voto
                %th Comentarios
            %tbody
              -@ceps.each do |member|
                %tr
                  %td
                    =image_tag "http://cimav.edu.mx/foto/#{member.email[/[^@]+/]}/50", class:'circle responsive-img', alt:'*'
                  %td
                    =member.name
                  %td
                    -response = Response.where(:user_id => member.id).where(:agreement_id => @agreement.id)
                    -if response.size > 0
                      -if response.first.answer.eql? Response::ACCEPTED
                        %i.fa.fa-check{"aria-hidden" => "true", "data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Aceptar"}
                      -if response.first.answer.eql? Response::REJECTED
                        %i.fa.fa-times{"aria-hidden" => "true", "data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Rechazar"}
                      -if response.first.answer.eql? Response::TO_COMMITTEE
                        %i.fa.fa-exclamation-circle.tooltipped.orange-text.text-darken-4{"aria-hidden" => "true", "data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Resolver en comité"}
                    -else
                      = "---"
                  %td
                    -if response.size >0
                      =response.first.comment
                    -else
                      = "---"
      .card
        .card-content
          .card-title
            Enviar respuesta
          =form_for @response, :url => "/agreements/#{@agreement.id}/send_response", html:{remote:true, class:'alertas redirect'} do |f|
            .row
              .col.l4.input-field
                =f.select :answer, options_for_select([['Aceptar',Response::ACCEPTED],['Rechazar', Response::REJECTED],['Resolver en comité', Response::TO_COMMITTEE]]),{:include_blank => '-- Selecciona --'}, {required:true}
                =f.label :answer, 'Respuesta'
              .col.l4.input-field
                =f.text_field :comment
                =f.label :comment, 'Comentarios', class:'active'
              .col.l4.input-field.center
                =f.submit 'Enviar', class:'btn brown'
  .col.l3
    .card.blue.white-text
      .card-content

        .card-title
          -if professional_exam.student.gender.eql? 'F'
            %i.fa.fa-venus{"aria-hidden" => "true"}
          -else professional_exam.student.gender.eql? 'M'
            %i.fa.fa-mars{"aria-hidden" => "true"}
          =professional_exam.student.full_name
        %p
          %b
            Matrícula
          =professional_exam.student.card
          %br
          %b
            Programa:
          =professional_exam.student.program.name
          %br
          %b
            Estatus:
          =professional_exam.student.get_status
          %br
          %b
            Campus
          =professional_exam.student.campus.name
          %br
          %b
            Fecha de inicio:
          =professional_exam.student.start_date
      .card-action
        %a.btn-floating.tooltipped.purple{"data-position"=>"bottom", "data-delay"=>"80", "data-tooltip"=>"Expediente de estudiante"}
          %i.fa.fa-book{"aria-hidden"=>true}
    .card.amber.darken-3.white-text
      .card-content
        .card-title
          Fecha de examen:
          =professional_exam.exam_date.strftime("%d %B, %Y")
