
-if @files.size>0
  %table.bordered
    %thead
      %tr
        %th
        %th
    %tbody
      -@files.each do |file|
        %tr
          %td
            =link_to "/agreement_files/#{file.id}" ,target: :_blank, class:'grey-text text-darken-2' do
              -case File.extname(file.name)
                -when '.jpg'
                  %i.far.fa-file-image.fa-2x{"aria-hidden" => "true"}
                -when '.png'
                  %i.far.fa-file-image.fa-2x{"aria-hidden" => "true"}
                -when '.pdf'
                  %i.far.fa-file-pdf.fa-2x{"aria-hidden" => "true"}
                -when '.docx'
                  %i.far.fa-file-word.fa-2x{"aria-hidden" => "true"}
                -when '.xls'
                  %i.far.fa-file-excel.fa-2x{"aria-hidden" => "true"}
                -when '.xlsx'
                  %i.far.fa-file-excel.fa-2x{"aria-hidden" => "true"}
          %td
            =link_to "/agreement_files/#{file.id}" ,target: :_blank, class:'grey-text text-darken-2' do
              .truncate
                -if file.file_type.eql? AgreementFile::AUTO
                  %b
                    =file.name
                -else
                  =file.name
          -if is_admin?
            %td
              -#if !file.file_type.eql? AgreementFile::AUTO
              =link_to "/agreement_files/#{file.id}", class:'delete_file red-text', method:'delete', agreement_id: file.agreement_id, remote:true do
                %i.fa.fa-trash{"aria-hidden" => "true"}
-else
  %blockquote
    No hay documentos

