.container
  .row
    %h1.center
      =@agreement.get_type
      .chip.amber
        ="Acuerdo #{@agreement.get_status}"
      -if @agreement.decision
        -color = 'green'
        -case @agreement.decision
          -when Agreement::ACCEPTED
            -color = 'green'
          -when Agreement::REJECTED
            -color = 'orange'
        .chip{class:color}
          ="#{@agreement.get_decision}"
.row
  -if @agreement.agreeable_type.eql? "SynodDesignation"
    =render partial:'synod_designation/show', locals:{synod_designation: @agreement.agreeable}
  -elsif @agreement.agreeable_type.eql? "NewAdmission"
    =render partial:'new_admissions/show', locals:{new_admission: @agreement.agreeable}
  -elsif @agreement.agreeable_type.eql? "ProfessionalExam"
    =render partial:'professional_exams/show', locals:{professional_exam: @agreement.agreeable}
