
%h1.center
  =@agreement.get_type
.row
  -if @agreement.agreeable_type.eql? "SynodDesignation"
    =render partial:'synod_designation/show', locals:{synod_designation: @agreement.agreeable}
  -elsif @agreement.agreeable_type.eql? "NewAdmission"
    =render partial:'new_admissions/show', locals:{new_admission: @agreement.agreeable}
