.row
  .col.l2.m2
    %img#imagen-expediente.responsive-img.circle{src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{@student.id}"}
  .col.l10.m10
    .row
      %h5
        =@student.full_name
      %b Programa:
      =@student.program.name
      %br
      %b Director:
      =Staff.find(@student.supervisor).full_name rescue "Sin director"
      %br
      %b
        Fecha de inicio:
      =@student.start_date.strftime("%d %b %Y") rescue ""
      %br
      %b
        Estatus:
      =@student.get_status
      %br
      %b
        Campus:
      =@student.campus.name
.row
  .col.s12.m12
    %ul.tabs
      %li.tab.col.s3
        %a.activet{:href => "#test1"} Calificaciones
      %li.tab.col.s3
        %a{:href => "#test2"} Tesis
      %li.tab.col.s3
        %a{:href => "#test3"} Avances
      %li.tab.col.s3
        %a{:href => "#expediente-comite"} CEP

  ////////////////////////////////////////////////////////////////////////////// Kardex
  #test1.col.s12.m12.l12
    .card-panel

      %table.striped
        %thead
          %tr
            %th
              Ciclo
            %th
              Materia
            %th
              Calificación
        %tbody
          -@student.term_students.each do |ts|
            -ts.term_course_student.where(:status => TermCourseStudent::ACTIVE).each do |tcs|
              %tr
                %td
                  =tcs.term_course.term.name
                %td
                  =tcs.term_course.course.name
                %td
                  -if tcs.grade.nil? && (tcs.term_course.term.status == Term::PROGRESS || tcs.term_course.term.status == Term::OPEN)
                    .grey-text
                      Cursando
                  -else
                    -if tcs.grade <70
                      .red-text
                        =tcs.grade
                    -else
                      =tcs.grade
      .section
        %b.blue-grey-text
          Promedio:
          =@student.get_average
  /////////////////////////////////////////////////////////////////////////// Tesis
  #test2.col.s12.m12
    .card-panel
      .section

        .larger-text.bold
          -if @student.thesis.title.nil?
            Sin título
          -else
            =@student.thesis.title
      .section
        %b Estatus:
        =@student.thesis.status_type rescue ""
        %br
        %b Fecha de defensa:
        =@student.thesis.defence_date.strftime("%d %b %Y  %H:%M") rescue ""
      .section
        %b Sinodales:
        %br
        -if !@student.thesis.examiner1.nil?
          =Staff.find(@student.thesis.examiner1).full_name
        %br
        -if !@student.thesis.examiner2.nil?
          =Staff.find(@student.thesis.examiner2).full_name
        %br
        -if !@student.thesis.examiner3.nil?
          =Staff.find(@student.thesis.examiner3).full_name
        %br
        -if !@student.thesis.examiner4.nil?
          =Staff.find(@student.thesis.examiner4).full_name
        %br
        -if !@student.thesis.examiner5.nil?
          =Staff.find(@student.thesis.examiner5).full_name


  /////////////////////////////////////////////////////////////////////// Avances
  #test3.col.s12.m12
    -if @student.advance.size >0
      -@student.advance.each do |advance|

        .card-panel
          .larger-text
            =advance.get_type
            =advance.advance_date.strftime("%b %Y") rescue "Sin fecha programada"
          %b Título:
          =advance.title
          %br
          %b Fecha de presentación:
          =advance.advance_date.strftime("%d %b %Y  %H:%M") rescue ""
          %br
          .section
            %b Comité tutoral:
            %br
            -if !advance.tutor1.nil?
              =Staff.find(advance.tutor1).full_name
            %br
            -if !advance.tutor2.nil?
              =Staff.find(advance.tutor2).full_name
            %br
            -if !advance.tutor3.nil?
              =Staff.find(advance.tutor3).full_name
            %br
            -if !advance.tutor4.nil?
              =Staff.find(advance.tutor4).full_name
            %br
            -if !advance.tutor5.nil?
              =Staff.find(advance.tutor5).full_name
          .section
            %b Notas:
            %br
            =advance.notes.gsub(/\n/, '<br/>').html_safe
        .divider
    -else
      .card-panel
        .larger-text
          No hay avances

  /////////////////////////////////////////////////////////////////////// Comité
  #expediente-comite.col.s12.m12
    .card-panel
      -student_agreements = []
      -student_agreements << @student.professional_exams
      .container
        %ul.collection
          -student_agreements.each do |agreement_types|
            -agreement_types.each do |agreement_type|
              =link_to agreement_type.agreement, class:'collection-item avatar ajax-item tooltipped', remote:true, url:"agreements/#{agreement_type.agreement.id}", "data-position"=>"right", "data-delay"=>"50", "data-tooltip"=>"Ir al acuerdo" do
                -if agreement_type.class.name.eql? 'ProfessionalExam'
                  %img.circle.blue{"aria-hidden"=>true, src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{agreement_type.student.id}"}
                %span.title
                  =agreement_type.agreement.id_key
                %p
                  =agreement_type.agreement.get_type


:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
    $('.tooltipped').tooltip({delay: 50});
  });