.row
  .col.l2
    %img#imagen-expediente.responsive-img.circle{src:"http://posgrado.cimav.edu.mx/imagen/estudiante/#{@student.id}"}
  .col.l10
    %h5
      =@student.full_name
    %b Promedio:
    =@student.get_average
    %br
    %b Director:
    =Staff.find(@student.supervisor).full_name

.row
  .col.s12
    %ul.tabs
      %li.tab.col.s3
        %a.activet{:href => "#test1"} Calificaciones
      %li.tab.col.s3
        %a{:href => "#test2"} Test 2
      %li.tab.col.s3
        %a{:href => "#test3"} Disabled Tab
      %li.tab.col.s3
        %a{:href => "#test4"} Test 4
  #test1.col.s12
    .card-panel
      blabla
      %br
      blabla
  #test2.col.s12
  #test3.col.s12 Test 3
  #test4.col.s12 Test 4

:javascript
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });