$navbar-color: #262626;
#side-menu{
  img{
    margin-top: 20px;
  }
}
.nav-wrapper{
  background-color: $navbar-color;
}



.picker__weekday-display{
  background-color: black;
}

.picker__date-display{
  background-color: #212121 !important;
}
header, main, footer {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.avatar {
  display: inline-block;
  height: 100%;
}

.avatar img {
  vertical-align: middle
}