
$color-menu: #21272e;
.side-nav{
}
#side-menu{
  background-color: $color-menu;

  li{
    background-color: $color-menu;
    color: white;

  }
  a {
    color: white;
    font-weight: inherit;

  }
  li:hover, li.active{
      //background-color: #eb5456;
      border-left: 2px solid red;

    li:hover, li.active{
      //background-color: #20AAEA;
      border-left: 2px solid #20AAEA;

      li:hover, li.active{
        background-color: #20AAEA;
        //border-left: 2px solid darkgray;
      }
    }

  }
.collapsible-header{
  i{
    font-size: 100%;
  }
}
}
.nav-wrapper{
  background-color: white;

}



.picker__weekday-display{
  background-color: black;
}

.picker__date-display{
  background-color: #212121 !important;
}
header, main, footer {
  padding-left: 240px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.avatar {
  display: inline-block;
  height: 100%;
}

.avatar img {
  vertical-align: middle
}
.container{
  padding-top: 15px;
}