$navbar-color: #262626;
#side-menu{
  img{
    margin-top: 20px;
  }
}
.nav-wrapper{
  background-color: $navbar-color;
}



.picker__weekday-display{
  background-color: black;
}

.picker__date-display{
  background-color: #212121 !important;
}
