#app-logo{
  margin-top: 2rem;
}
#login-area {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.93);
  transform: translate(-50%, -50%);
}

#cimav-logo{
  //height: 4rem;
  width: 14rem;
}

#app-logo{
  //height: 4rem;
  width: 16rem;
}

#login-title{
  margin: 2rem 2rem;

}