// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#preloader-agreement, #preloader-expediente, #preloader-documentos{
  margin-top: 6em;
  display: none;
}

.tabs .indicator {
  background-color: #7b7b7b;
}
.tabs li a{
  color: #5e5e5e !important;
}

#session-name{
  margin-bottom: 1rem;
}
.card .card-content .card-title i {
  line-height: inherit;
}