// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#agreement_types{

}

#preloader-agreement{
  margin-top: 6em;
  display: none;
}
#preloader-agreement{
  margin-top: 6em;
  display: none;
}

#preloader-new-agreement{
  margin-top: 6em;
  display: none;
}