- flash.each do |type,message|

  -if type.eql? "success"
    .card.green.darken-4.alertas
      .card-content.white-text
        %span.card-title
          =message
  -if type.eql? "error"
    .card.red.darken-4.alertas
      .card-content.white-text
        %span.card-title
          =message
  -if type.eql? "alert"
    .card.yellow.darken-3.alertas
      .card-content.white-text
        %span.card-title
          =message
  -if type.eql? "notice"
    .card.blue-grey.darken-2.alertas
      .card-content.white-text
        %span.card-title
          =message
