!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Comité de Estudios de Posgrado
    = csrf_meta_tag


    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    / Dropdown Structure
    %ul#dropdownUser.dropdown-content
      %li
        %a{:href => "#!"} Opciones
      %li
        %a{:href => "#!"} Ayuda
      %li.divider
      %li
        %a{:href => "#!"} Cerrar sesión
    %header

      %nav
        .nav-wrapper
          .container
            %a.brand-logo.center{:href => "/"} CEP
          %ul.right
            %li
              %a.avatar.dropdown-button{"data-activates" => "dropdownUser"}
                =image_tag "http://cimav.edu.mx/foto/teresa.mariscal/50", class:'circle img-responsive', alt:'picture'
          %a.button-collapse.top-nav.full.hide-on-large-only{"data-activates" => "side-menu", :href => "#"}
            %i.fa.fa-bars.fa-2x{"aria-hidden" => "true"}
      %ul#side-menu.side-nav.fixed
        %li
          .center
            =image_tag "http://cimav.edu.mx/foto/teresa.mariscal/200", class:'circle img-responsive', alt:'*'
        %li
          %a{href: "/meetings"} Sesiones
        %li
          %a{href: "/users"} Usuarios



    %main
      = yield

