!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Comité de Estudios de Posgrado
    = csrf_meta_tag


    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    %ul#side-menu.side-nav.fixed
      %li
        .center
          =image_tag "http://cimav.edu.mx/foto/teresa.mariscal/200", class:'circle img-responsive', alt:'*'
      %li
        %a{href: "/meetings"} Sesiones
      %li
        %a{href: "/users"} Usuarios
      .divider
      %li
        %a{href: "/logout"} Cerrar Sesión
    .main
      %header
        .navbar-fixed
          %nav
            .nav-wrapper
              %a.brand-logo{:href => "/"} CEP


      = yield

