!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Comité de Estudios de Posgrado
    = csrf_meta_tag


    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body
    / Dropdown Structure
    %ul#dropdownUser.dropdown-content
      %li
        %a{:href => "#!"} Opciones
      %li
        %a{:href => "#!"} Ayuda
      %li.divider
      %li
        %a{:href => "/logout"} Cerrar sesión
    %header

      %nav
        .nav-wrapper
          %ul.right
            %li
              %a.avatar.dropdown-button{"data-activates" => "dropdownUser"}
                =image_tag "http://cimav.edu.mx/foto/teresa.mariscal/50", class:'circle img-responsive', alt:'picture'
          %a.button-collapse.top-nav.full.hide-on-large-only{"data-activates" => "side-menu", :href => "#"}
            %i.fa.fa-bars.fa-2x.black-text{"aria-hidden" => "true"}
      %ul#side-menu.side-nav.fixed
        %ul
          .center
            %h1.white-text
              CEP
          %ul.collapsible.waves-effect
            %li
              .collapsible-header
                %a
                  Sesiones
              .collapsible-body
                %ul.collapsible
                  -Meeting.all.each do |meeting|
                    %li
                      .collapsible-header
                        %a

                          =meeting.date.strftime("%B")
                      .collapsible-body
                        %ul.agreement-list
                          -meeting.agreement.each do |agreement|
                            %li
                              =link_to agreement.get_type, agreement, remote:true, class:'menu-item', url:agreement_url(agreement).gsub(request.base_url+'/', '')
                  %li
                    %a.ajax-item{href: "/meetings", "data-remote"=>"true", url:"meetings"}
                      Opciones
                      %i.fa.fa-ellipsis-v.white-text{"aria-hidden" => "true"}

          %li
            %a.ajax-item{href: "/users", style:'left-padding: 16px; padding-left: 16px;', "data-remote"=>"true", url:"users"} Usuarios




    %main
      #main-content
        = yield
      %br
      %br
      %br
      %br
      %br
      #preloader-agreement.center
        .preloader-wrapper.big.active
          .spinner-layer.spinner-blue-only
            .circle-clipper.left
              .circle
            .gap-patch
              .circle
            .circle-clipper.right
              .circle

